---
title: "About the ROADMAP project"
layout: default
permalink: "/about.html"
---


<script src="https://kit.fontawesome.com/90f1981f5b.js"></script>
<link href="{{site.baseurl}}/assets/css/about.css" rel="stylesheet" />


{% include navbar.html %}


<div class="wrapper " style = "padding-top: 100px!important;">
    <div class="sidebar shadow-4-strong">
        <nav class="main-menu pt-3">
            <div class="current">
              <div class="scrollbar" id="style-1">
                <ul class = "navul">
                  <li class = "navli"><a href="#section-1">
                      <img src = "https://img.icons8.com/plasticine/512/information.png" class = "icon"/>
                    <span class="nav-text">Background</span></a></li>
                  <li class = "navli"><a href="#section-3">
                      <img src = "https://img.icons8.com/external-becris-flat-becris/512/external-social-science-literary-genres-becris-flat-becris.png" class = "icon"/>
                    <span class="nav-text px-1">Methods</span></a></li>
                    <li class = "navli mx-5">
                       <a href="#section-4">
                          <span class="nav-text">
                            Crowdsourcing data
                          </span>
                       </a>
                   </li>
                   
                   <li class = "navli mx-5">
                      <a href="#section-5">
                         <span class="nav-text">Survey execution</span>
                      </a>
                  </li>
      
                  <li class = "navli mx-5">
                      <a href="#section-6">
                         <span class="nav-text">Survey data analysis</span>
                      </a>
                  </li>
      
                  <li class = "navli mx-5">
                      <a href="#section-7">
                         <span class="nav-text">Interview execution</span>
                      </a>
                  </li>
                  <li class = "navli mx-5">
                      <a href="#section-8">
                         <span class="nav-text">Interview data analysis</span>
                      </a>
                  </li>
      
                  <li class = "navli mx-5">
                      <a href="#section-9">
                         <span class="nav-text">Synthesis and tool development</span>
                      </a>
                  </li>
      
                  <li class = "navli">
                      <a href="#section-10">
                          <img src = "https://img.icons8.com/external-flaticons-lineal-color-flat-icons/512/external-discovery-bioengineering-flaticons-lineal-color-flat-icons.png" class = "icon"/>
                          <span class="nav-text">Overview of findings</span>
                      </a>
                  </li>
                  <li class = "navli"><a href="#section-2">
                    <img src = "https://img.icons8.com/parakeet/512/applause.png" class = "icon"/>
                  <span class="nav-text">Acknowledgements</span></a></li>

                </ul>
              </div>
          </nav>      </div>

      
    <div class="main">
      <div class = "container">
        <h1 class = "text-center mainTitle">About the ROADMAP project</h1>

      </div>
      <div class = "container d-flex justify-content-center">
        <img style = "height: 390px; width: auto; object-fit: contain;" class = "img-fluid" src = "/assets/animated/juicy-team-analyzes-graphs-and-diagrams.gif"/>
      </div>

      <section id="section-1" class = "pt-5" >
            <h1 class = "pt-5"><span class = "d-inline"><img src = "https://img.icons8.com/plasticine/512/information.png" class = "iconLarge img-fluid"/>Background</span></h1>
            {% include /ABOUT/background.html %}
            </section>
    
          <section id="section-3">
            <h1 class = "pt-5"><span class = "d-inline"><img src = "https://img.icons8.com/external-becris-flat-becris/512/external-social-science-literary-genres-becris-flat-becris.png" class = "iconLarge img-fluid"/>Methods</span></h1>
            {% include /ABOUT/methods.html %}
          </section>
    
          <section id="section-4">
            <h2>Crowdsourcing data</h2>
            {% include /ABOUT/crowdsourcing-data.html %}
          </section>
    
          <section id="section-5">
            <h2> Survey execution</h2>
            {% include /ABOUT/survey-execution.html %}
          </section>
    
          <section id="section-6">
            <h2>Survey data analysis</h2>
            {% include /ABOUT/survey-data-analysis.html %}
          </section>
    
          <section id="section-7">
            <h2>Interview execution</h2>
            {% include /ABOUT/interview-execution.html %}
          </section>
    
          <section id="section-8">
            <h2>Interview data analysis</h2>
            {% include /ABOUT/interview-data-analysis.html %}
          </section>
    
          <section id="section-9">
            <h2>Synthesis and tool development</h2>
            {% include /ABOUT/synthesis-and-tool.html %}
          </section>
    
          <section id="section-10">
            <h1 class = "pt-5"><span class = "d-inline"><img src = "https://img.icons8.com/external-flaticons-lineal-color-flat-icons/512/external-discovery-bioengineering-flaticons-lineal-color-flat-icons.png" class = "iconLarge img-fluid"/>Overview of findings</span></h1>
            {% include /ABOUT/findings.html %}
          </section>
    
          <section id="section-2">
            <h1 class = "pt-5"><span class = "d-inline"><img src = "https://img.icons8.com/parakeet/512/applause.png" class = "iconLarge img-fluid"/>Acknowledgements</span></h1>
    
            {% include /ABOUT/acknowledgements.html %}
          </section>
    
    
    <div class = "py-5 my-5"><br></div>    </div>
  
  </div>
  