---
title: "ROADMAP intro"
layout: default
permalink: "/roadmap-welcome.html"
---

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
    integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
<!-- button on main page to open overlayer -->

<style>

    figure img {
        max-height: 400px !important;
        width: auto;
    }
    main {
        background-color: rgba(135, 135, 135, 0.87) !important;
        background-image: var(--cardboard);
    }
    p {
        line-height: 20pt;
    }
    h2 {
        padding-top:30px !important;
        padding-bottom: 30px !important;
    }
    hr {
        margin-top:80px !important;
        margin-bottom: 80px !important;
    }
    .mainTitle {
        font-size: 4em !important;
    }
    .overlay_heading {
        text-transform: uppercase;
    }
    .card {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .list-group-item {
        padding-top: 8px;
        padding-bottom: 8px;
        margin: 0;
    }
    .main_content {
        max-width: 65vw;
        background-color: white;
        padding: 80px;
    }

    .primary-color {
        background-color: var(--accent2);
        background-image: var(--cardboard);
        color: white;
        font-weight: 600;
    }


    .welcomeBtnInactive {
        color: rgb(116, 116, 116);
    }

    .welcomeBtnActive {
        background-image: url("https://www.transparenttextures.com/patterns/project-paper.png");
        color: var(--roadmap_dark);
        font-weight: 800;
    }

    .welcome {
        font-size: .9em;
        padding-top: 22px !important;
        padding-bottom: 22px !important;
        width: 55vw;
        cursor: pointer;
        color: var(--accent1);
        

    }

    .welcome3 {
    }

    .welcome:hover {
        background-color: var(--accent4);
        background-image: url("https://www.transparenttextures.com/patterns/project-paper.png");
    }

    .overlay_heading {
        font-size: 2rem;
    }

.btn-div {
    display: flex; 
    justify-content: flex-end;
}


.listIcon {
    height: 70px;
    width: auto;

}

</style>

{% include navbar.html %}

<!-- START OVERLAYER -->
<div class="container main_content">

    <section>
        <div class=" container animate__animated animate__fadeIn animate__fast ">

            <section class="  py-lg-5 p-md-0 pt-4">
                <div class = "btn-div">
                <a href="/roadmap.html" class="mb-4 btn btn-danger text-right">Close</a>
            </div>

                <h1 class="pb-4 py-lg-5 text-center mainTitle"><img src = "https://img.icons8.com/pulsar-color/512/experimental-so-so-pulsar-color.png" style = "height: 80px; width: auto;"/> &nbsp;Welcome to the ROADMAP tool!</h1>
                <p class="pb-5 text-center" style="font-size:18px;">We encourage you to read the sections below before you begin using
                    the tool. <br><b>You can access the tool at any point by closing this window.</b>
                </p>


                <div id="welcome1" class="row py-2 welcome welcomeBtnActive " onclick="roadmapOverview()">
                    <a>
                        <i class="fa-solid fa-road"></i> &nbsp; ROADMAP Overview</a>
                    </a>
                </div>

                <div id="welcome2" class="row py-2 welcome welcomeBtnInactive  " onclick="orgSupport()">
                    <a>
                        <i class="fa-solid fa-people-group"></i> &nbsp; Organizational Support Options</a>
                    </a>
                </div>

                <div id="welcome3" class="row welcome welcomeBtnInactive welcome3 py-2" onclick="roadblocksAdvice()">
                    <a>
                        <i class="fa-solid fa-road-barrier"></i> &nbsp; Roadblocks & Advice</a>
                    </a>
                </div>


            </section>
        </div>
    </section>

    <section>

        <div id="roadmap-overview" style="display: block;" class="container ">
            {%include TOOL/tool-welcome/roadmap-overview.html%}
        </div>
        <div id="org-support" style="display: none;" class="container ">
            {%include TOOL/tool-welcome/org-support.html%}
        </div>
        <div id="roadblocks-advice" style="display: none;" class="container ">
            {%include TOOL/tool-welcome/roadblocks-advice.html%}
        </div>

    </section>

    <div class = "btn-div">
        <a href="/roadmap.html" class="mb-4 btn btn-danger text-right">Close</a>
    </div>
</div>



<script>
    function roadmapOverview() {

        var roadmapOverview = document.getElementById("roadmap-overview");
        var orgSupport = document.getElementById("org-support");
        var roadblocksAdvice = document.getElementById("roadblocks-advice");

        var roadmapOverviewBtn = document.getElementById("welcome1");
        var orgSupportBtn = document.getElementById("welcome2");
        var roadblocksAdviceBtn = document.getElementById("welcome3");

        roadmapOverview.style.display = "block";
        orgSupport.style.display = "none";
        roadblocksAdvice.style.display = "none";

        roadmapOverviewBtn.classList.remove("welcomeBtnInactive");
        roadmapOverviewBtn.classList.add("welcomeBtnActive");

        orgSupportBtn.classList.remove("welcomeBtnActive");
        orgSupportBtn.classList.add("welcomeBtnInactive");

        roadblocksAdviceBtn.classList.remove("welcomeBtnActive");
        roadblocksAdviceBtn.classList.add("welcomeBtnInactive");

    }

    function orgSupport() {

        var roadmapOverview = document.getElementById("roadmap-overview");
        var orgSupport = document.getElementById("org-support");
        var roadblocksAdvice = document.getElementById("roadblocks-advice");

        var roadmapOverviewBtn = document.getElementById("welcome1");
        var orgSupportBtn = document.getElementById("welcome2");
        var roadblocksAdviceBtn = document.getElementById("welcome3");

        roadmapOverview.style.display = "none";
        orgSupport.style.display = "block";
        roadblocksAdvice.style.display = "none";

        roadmapOverviewBtn.classList.remove("welcomeBtnActive");
        roadmapOverviewBtn.classList.add("welcomeBtnInactive");

        orgSupportBtn.classList.remove("welcomeBtnActive");
        orgSupportBtn.classList.add("welcomeBtnActive");

        roadblocksAdviceBtn.classList.remove("welcomeBtnActive");
        roadblocksAdviceBtn.classList.add("welcomeBtnInactive");

    }

    function roadblocksAdvice() {

        var roadmapOverview = document.getElementById("roadmap-overview");
        var orgSupport = document.getElementById("org-support");
        var roadblocksAdvice = document.getElementById("roadblocks-advice");

        var roadmapOverviewBtn = document.getElementById("welcome1");
        var orgSupportBtn = document.getElementById("welcome2");
        var roadblocksAdviceBtn = document.getElementById("welcome3");

        roadmapOverview.style.display = "none";
        orgSupport.style.display = "none";
        roadblocksAdvice.style.display = "block";


        roadmapOverviewBtn.classList.remove("welcomeBtnActive");
        roadmapOverviewBtn.classList.add("welcomeBtnInactive");

        orgSupportBtn.classList.remove("welcomeBtnActive");
        orgSupportBtn.classList.add("welcomeBtnInactive");

        roadblocksAdviceBtn.classList.remove("welcomeBtnInactive");
        roadblocksAdviceBtn.classList.add("welcomeBtnActive");


    }
</script>