<div class = " transparent p-0 m-0" ">

<h1 class = "overlay_heading">Organizational support options</h1>

<p>
    Among the stakeholders involved in the drug repurposing process, a rare disease nonprofit organization is a very powerful intermediary between the patients, researchers, physicians, regulatory agencies, pharmaceutical companies and other actors. Their power lies in leveraging their personal passion and perseverance against all odds to help the patients and their ability to create and foster the right ecosystem in which opportunities to drive forward drug repurposing efforts for their rare disease(s) can flourish. 
</p>

<p>
    The main support options in which a rare disease organization can support a drug repurposing projects fall into four somewhat overlapping categories:
</p>

<ol>
    <li>
        Funding Support
    </li>
    <li>
        Research Support
    </li>
    <li>
        Partnering & Collaboration Support
    </li>
    <li class = "mb-5">
        Patient Support
    </li>

</ol>

<hr class = "">
<h2 class = "mt-5 overlay_heading2">
    Funding support
</h2>

<p>
    Drug repurposing projects cannot get started without sufficient financial resources in place. At any stage in the process, a rare disease nonprofit can play two roles: as a fundraising entity and as a grant-giving entity.  

</p>

<p>
    There are many ways an organization can raise money. One way to think about this is to focus on different entities that can contribute funds:

</p>

<ol>
    <li>
        Patients & their families
    </li>
    <li>
        Individual large donors
    </li>
    <li>
        Government organizations
    </li>
    <li>
        Other nonprofit organizations
    </li>
</ol>

<p>
    The traditional approach to a rare disease non profit organization supporting research involves organizations raising funds, announcing a request for proposals (RFP) that invites researchers to submit a research proposal (a research question, approach to answering the question, and budget) that addresses the question or area of research described in the RFP, and then awarding funds to the best proposal, selected by a panel of experts (Figure 1).
</p>






</div>