
<style>
    .nav1, .navbar1 {
        box-shadow: none !important;
        background-color: transparent !important;
    }

    .navbar-nav-1 .nav-link {
        color: var(--roadmap_dark) !important;
    }
</style>
<div class="nav1 ">
    <!-- Navbar -->
    <nav class="navbar navbar1 navbar-expand-lg navbar-light ">
      <!-- Container wrapper -->
      <div class="container-fluid">
        <!-- Navbar brand -->
        <a class="navbar-brand mt-2 mt-lg-0" href="/index.html">
          <img src="./assets/ROADMAP.png" height="27px" alt="ROADMAP logo" loading="lazy" />
        </a>
        <!-- Left links -->
        <ul class="navbar-nav navbar-nav-1 me-auto mb-2 mb-lg-0">
          <li class="nav-item mx-2"><a class="nav-link" href="/about.html">About</a></li>
          <li class="nav-item mx-2"><a class="nav-link" href="/roadmap.html">ROADMAP tool</a></li>
          <li class="nav-item mx-2"><a class="nav-link" href="/survey-insights-welcome.html">Survey data</a></li>
          <li class="nav-item mx-2"><a class="nav-link" href="/resources.html">More resources</a></li>
        </ul>
        <!-- Left links -->
      </div>
      <!-- Container wrapper -->
    </nav>
    <!-- Navbar -->
  </div>
  