<!-- button on main page to open overlayer -->
<div class = "mx-5">
<button type="button" class="open-overlay" >"ROADMAP" Tool Overview</button>
</div>
<style>
  .welcome {
    text-align: center;
    vertical-align: middle;
    margin-bottom: 0px !important;

  }

  .overlay_text_content {
    margin-top: -500px !important;
  }

  .overlay_image {
    max-height: 400px;
  }

  .scrolling {
    height: 50px;
    width: auto;
    opacity: 80%;
  }
</style>

<!-- START OVERLAYER -->
<section class="overlay" aria-hidden="false">
  <div>
    <div class="container overlay_content  animate__animated animate__fadeIn animate__fast shadow-5-strong">
      <span class="buttondiv close-overlay-div ">
        <button type="button" style="margin-top:-10px!important;" class="close-overlay">
          <i class="fa-solid fa-circle-xmark " style="color: firebrick; font-size: 30px;"></i>&nbsp;
        </button>
      </span>
      <section class="  p-lg-5 p-md-0 pt-4">
        <h1 class = "text-center">Welcome to the ROADMAP tool!</h1>

        <div class = "d-flex justify-content-center overlay_image mb-0 my-0 py-0">
          <img class = "img-fluid" src="{{site.baseurl}}/assets/svg/icons8/marginalia-woman-uses-a-navigator-on-the-phone.png">
        </div>

        <div class="welcome">
          <p style="font-size:18px;">We encourage you to read the sections below before you begin using the tool.
            <b>You can access the tool at any point by closing this window.</b>
          </p>
          <div class = "d-flex justify-content-center">
            <img class = "img-fluid scrolling my-0 py-0" src = "https://img.icons8.com/external-doodle-bomsymbols-/512/external-design-doodle-web-design-device-set-1-doodle-bomsymbols--21.png" />
          </div>
        </div>

        <div class="overlay_text_content">
          <div class="p-0 m-0" ">
            <h1 class = " overlay_heading">"ROADMAP" Tool Overview</h1>

            <p>
              The ROADMAP tool is the culmination of the Repurposing Of All Drugs, Mapping All Paths (ROADMAP) project, pursued by the Castleman Disease Collaborative Network (CDCN). The CDCN identified as many rare disease nonprofit organizations and potential stakeholders as possible, distributed a survey to these stakeholders, and performed in-depth interviews with a subgroup of representative stakeholders. Then, we utilized this information along with our experiences from rare disease drug repurposing to build out the ROADMAP tool. 
            </p>

            

            <a type="button" class="about-button my-5" href = "/about.html">Learn more about the ROADMAP project, its data sources and tool development</a>

            <p class = "mt-2">Based on our experiences with drug repurposing, 605 survey responses which made inclusion criteria from rare disease stakeholders, and 25 in-depth interviews, we have organized the drug repurposing process into 5 steps:</p>

            <ol class="my-4">
              <li>Supporting repurposing</li>
              <li>Identifying the drug</li>
              <li>Validating the drug</li>
              <li>Utilizing the drug clinically</li>
              <li>Reaching an endpoint</li>

            </ol>


            <p><b>Supporting repurposing</b> involves laying the groundwork to be able to successfully repurpose a treatment for your rare disease. This may involve setting up a rare disease non profit, creating the vital research infrastructure, fundraising or applying for grants that you can then provide to researchers, creating a contact registry of all your patients, creating a network of researchers and physicians who are already or potentially could be doing work related to your rare disease, and/or developing certain resources, such as a biobank or a natural history study/registry.
            </p>

            <p><b>Identifying the drug</b> describes the next step in the repurposing process. It entails identifying  existing drug(s) that may be potentially beneficial for your patient population of interest. There are many ways this can be done (high throughput drug screens, machine learning data mining, analysis of real world off-label drug use, etc.), which we explore in detail in the ROADMAP.
            </p>

            <p><b>Validating the drug</b> explains the  important step in which the initial hypothesis about the potential of the identified drug(s) is tested in the laboratory or through other research approaches. This step is sometimes skipped.

            </p>
            <p><b>Utilizing the drug clinically</b> - if the drug seems promising enough for the anticipated benefits to outweigh the anticipated risks, it can move on to being used in patients, either in an official clinical trial or through an “off-label” prescription by a physician.
            </p>

            <p><b>Reaching an endpoint</b> refers to  the final step in the drug repurposing process. Once the drug has been given to patients, it should be evaluated to determine if it is effective and which patients should receive it.  Though FDA-approval for the new disease is often thought of as success, many drugs are never reviewed by the FDA and there are several potential positive outcomes of drug repurposing, such as inclusion of the drug in treatment guidelines and off-label use of the drug in patients that improves quality of life. Failure is defined as the drug being abandoned due to issues with safety or efficacy, whether or not it is approved by the FDA for this new use.
            </p>

            <p class = "mb-5">
              Throughout all of these steps, there are many ways that rare disease non profit organizations can play a supportive role or some aspects of the drug repurposing process, which we detail throughout the tool.
              <br/>
              <br/>
              <br/>
              <br/>
              <br/>
            </p>
          </div>
        </div>
    </div>
  </div>
</section>
</section>
<!-- END OVERLAYER -->

<!-- activates popup and clicking functionality -->
<script src="./assets/tool_scripts/overlayer.js">
</script>