<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<!-- button on main page to open overlayer -->
<button type="button" class=" px-4 py-3  shadow-3-strong open-overlay" >Click to learn more about the ROADMAP tool</button>


<style>
  .welcome {
    text-align: center;
vertical-align: middle;
    margin-bottom: 0px!important;

}


.overlay_text_content {
     margin-top: -500px!important; 
    }
</style>
<!-- START OVERLAYER -->
<section class="overlay" aria-hidden="false">
  <div>
    <div class="container overlay_content  animate__animated animate__fadeIn animate__fast shadow-5-strong">
      <span class="buttondiv close-overlay-div ">
        <button type="button" style = "margin-top:-10px!important;" class="close-overlay">
          <i class="fa-solid fa-circle-xmark " style = "color: firebrick; font-size: 30px;"  ></i>&nbsp; 
        </button>
      </span>
      <section class="  p-lg-5 p-md-0 pt-4">

        
    
          <div class = "welcome">
        <h1>Welcome to the ROADMAP tool!</h1>
        <p style="font-size:18px;">We encourage you to read the sections below before you begin using the tool.
          <b>You can access the tool at any point by closing this window.</b></p>

        </div>

        <div class = "overlay_text_content">
          <div class = "p-0 m-0" ">
            <h1 class = "overlay_heading">Roadmap Overview</h1>
            <p>Our conceptualization of the drug repurposing process consists of 5 steps:</p>
        
            <ol class = "my-4">
                <li>Preparation</li>
                <li>Identification</li>
                <li>Validation</li>
                <li>Clinical Use</li>
                <li>Outcome</li>
        
            </ol>
        
        
        <p><b>Preparation</b> involves laying the groundwork of the rare disease non profit and creating the vital research infrastructure to set up any future repurposing projects for success. This would mean fundraising or applying for grants that you can then provide to researchers, creating a contact registry of all your patients, creating a network of researchers and physicians who are already or potentially could be doing work related to your rare disease, and developing certain resources, such as a biobank or a natural history study/registry.
        </p>
        
        <p><b>Identification</b> is the first step in the repurposing process! It entails figuring out which existing drug can be potentially beneficial to your patient population. There are many ways this can be done (high throughput drug screens, machine learning data mining, analysis of real world off label drug use, etc.), which we explore in detail in the ROADMAP. 
        </p>
        
        <p><b>Validation</b> is an important step in which your initial hypothesis about the potential of the identified drug to be useful for your patient population is tested with additional research. 
          
        </p>
        <p><b>Clinical use</b> - if the drug still seems promising after additional research has been done, it can move on to being used in humans, either in an official clinical trial or in the real world, meaning it will be used “off label”. 
          
        </p>
        
        <p><b>Outcome</b>  is the final step in the drug repurposing process, meaning the repurposing has reached either success or failure. Success could be measured in many ways, such as FDA approval for the new indication, integration into treatment guidelines, improving patient quality of life with off label use, etc.
        </p>
        
        <p>Throughout all of these steps, there are many ways that rare disease non profit organizations can play a supportive role or spearhead aspects of the drug repurposing process. 
        </p>
        </div>          </div>
<div style = "height: 200px;">
  <br><br>

</div>
    </div>
  </div>
</section>
</section>
<!-- END OVERLAYER -->

<!-- activates popup and clicking functionality -->
<script src="./assets/tool_scripts/overlayer.js">
</script>