
<style>
    .globalnavdark {
        background-color: #00171f !important;
      background-image: url("https://www.transparenttextures.com/patterns/black-paper.png");
    }

    .navbar a, .navbar .nav-link {
        color: var(--roadmap_light) !important;
    }

</style>

<style>
    .navbar .nav-link {
      font-weight: 500;
    }
  
    .navbar {
      padding-top: 25px;
      padding-bottom: 26px;
    }
  </style>
  
  <div class="nav1 ">
    <!-- Navbar -->
    <nav class="navbar globalnavdark navbar-expand-lg navbar-light bg-light">
      <!-- Container wrapper -->
      <div class="container-fluid" >
        <!-- Navbar brand -->
        <a class="navbar-brand mt-2 mt-lg-0" href="/index.html">
          <img src="./assets/ROADMAP.png" height="27px" alt="ROADMAP logo" loading="lazy" />
        </a>
        <!-- Left links -->
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item mx-2"><a class="nav-link" href="/about.html">About</a></li>
          <li class="nav-item mx-2"><a class="nav-link" href="/roadmap.html">ROADMAP tool</a></li>
          <li class="nav-item mx-2"><a class="nav-link" href="/survey-insights-welcome.html">Survey data</a></li>
          <li class="nav-item mx-2"><a class="nav-link" href="/resources.html">More resources</a></li>
        </ul>
        <!-- Left links -->
  
        <!-- Right elements -->
        <div class="d-flex align-items-center">
          <a class="d-flex align-items-center mx-3  " href="https://everycure.org/" target="_blank">
            <img src="./assets/everycure_w@4x.png" height="23px" alt="EveryCure logo"  />
          </a>
          <a class="d-flex align-items-center mx-3  " href="https://cdcn.org/" target="_blank">
            <img src="./assets/cdcn.png" height="27px" alt="CDCN logo"  />
          </a>
          <a class="d-flex align-items-center mx-3 " href="https://chanzuckerberg.com/" target="_blank">
            <img src="./assets/czi.svg" height="27px" alt="CZI logo"  />
          </a>
  
          
        </div>
        <!-- Right elements -->
      </div>
      <!-- Container wrapper -->
    </nav>
    <!-- Navbar -->
  </div>
  
  <div class="nav2">
    <nav class="navbar globalnavdark navbar-expand-lg navbar-dark bg-dark">
      <!-- Container wrapper -->
        <div class = "d-flex" style = "margin-top: -20px;">
          <a class="navbar-brand mt-2 mt-lg-0"  href="/index.html">
            <img src="./assets/ROADMAP.png" style = "margin-top: -20px!important; padding-left:10px;" height="27px" alt="ROADMAP logo" loading="lazy" />
          </a>
          <p class=""><a class="nav-link" href="/about.html">About</a></p>
          <p class=""><a class="nav-link" href="/roadmap.html">ROADMAP tool</a></p>
          <p class=""><a class="nav-link" href="/survey-insights-welcome.html">Survey data</a></p>
          <o class=""><a class="nav-link" href="/resources.html">More resources</a></p>

        </div>
    </div>
      <!-- Container wrapper -->
    </nav>
    </div>