
.sidebar {
  width: 20%;
  height:89vh; 
  overflow: auto;
  position: -webkit-sticky;
  position: sticky;
  top: 8%;
  margin-left: 50px;

}


.mainTitle {
  font-size: 80px;
}
@media screen and (max-width: 980px) {
  .sidebar {
    display: none!important;

  }
  .main {
    width: 100% !important;
  }
}
.main {
  width: 75%;
  height: 100%;
  min-height: 1000px;
  display: flex;
  flex-direction: column;
  padding-right: 5em;
}

.main,
.sidebar {
  border-radius: 10px;
  color: black;
}

.wrapper {
  display: flex;
  justify-content: space-between;
}



   .img-fluid {
    max-height: 500px !important;
    width: auto;
  }

  .iconLarge {
    height: 60px;
    width: auto;
    padding-bottom: 8px;
    padding-right: 12px;
  }
  figure {
    text-align: center;
  }

  h2 {
    font-size: 28px;
    font-weight: 600;
    padding-bottom: 20px;
    padding-top: 20px;
  }

  h3 {
    font-size: 20px;
    font-weight: 600;
    padding-bottom: 20px;
    padding-top: 20px;
  }


  h4 {
    font-size: 17px;
    font-weight: 500;
    font-style: italic;
    padding-bottom: 8px;
    padding-top: 20px;
  }

  .liststylenone li {
    list-style: none;
    padding-bottom:10px;
  }
  body {
    margin:0px;
    padding:0px;
  }
  
  
  nav .navul, nav .navli {
    margin-top:6%;
    padding: 0;
    margin-left:16px;
    list-style: none;
  
  }
  
  /* Titles move right when hovering over the Sections*/
  .navul>li>a:hover,.navul>li>a:focus {
    text-decoration:none;
    transform: translatex(8px);
  }
  
  .main-menu li:hover>a {
    color:black;
    font-weight: 800;
  }
  /*End Hover Sections*/
  
  
  .main-menu li>a {
    position:relative;
    display:table;
    border-collapse:collapse;
    border-spacing:0;
    font-size: 13px;
    transition:all .14s linear;
    font-family: 'Strait', sans-serif;
    text-shadow: 1px 1px 1px white;
    text-decoration: none;
    list-style: none;
  }
  
  /* Sidebar Navigation Icons*/
  ul .fas {
    position:relative;
    display: inline-block;
    font-size: 20px;
    height: 10px;
    width: auto;
    margin-right: 20px;
    padding-top: 5px;
    padding-bottom: 10px;
    top:8px;
  }
  
  /* Sidebar Navigation Menu Text*/
  .main-menu .nav-text  {
    position:relative;
    display:table-cell;
    text-align: left;
    top:8px;
    font-family: 'IBM Plex Sans', sans-serif !important;
    font-weight: 400;
    line-height: 80%;
    
  }
  
  /* Main body */
  section {
    padding-top: 3rem;
    padding-left: 5rem;
    padding-right: 5rem;
  }
  
  .icon {
      height: 27px;
      width: auto;
      position:relative;
    display: inline-block;
    top:8px;
  
  }
  