
    .link-text, i {color: white;}
    .navbar_gds {
      position: fixed!important;
      transition: width 600ms ease;
      box-shadow: none;
      background-color: #00171f !important;
      background-image: url("https://www.transparenttextures.com/patterns/black-paper.png");
      height: 100vh;
    }
    
    .navbar_gds, .navbar_gds-nav, .nav-item_gds, .nav-link_gds, .link-text {
        width: 270px;
        font-family: 'IBM Plex Sans', sans-serif !important;

    }

    .nav-item_gds p {
      padding-left: 30px;
      padding-top: 15px;
    }

    .navbar_gds-nav {
      list-style: none;
      padding: 3em;
      padding-left: 0;
      margin: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 100%;
    }
    
    .nav-item_gds {
      width: 100%;
    }

    .icon {
      height: 30px;
      width: auto;
    }
    
    
    .nav-link_gds {
      display: flex;
      align-items: center;
      color: var(--text-primary);
      text-decoration: none;
    }

    .link-text  {
      padding-left: 5px;
      font-size: 1em;

    }
    
    body {
      margin: 0;
      padding: 0;
    }
    
    body::-webkit-scrollbar {
      width: 0.25rem;
    }
    
    main {
      margin-left: 270px;
      padding-left: 0!important;
      padding-top: 0!important;
    }

    .nav-link_gds:hover{
        font-weight: 800;

    }
    
    .heading p {
      margin-left: 4px!important;
      padding-left: 4px!important;
    }
    