<h1 class="overlay_heading text-center my-4 pb-5">Roadblocks & Advice</h1>

<p>
    Drug repurposing for rare diseases can be a complex process that involves identifying existing drugs that may be
    effective in treating a particular rare disease, and then going through the process of testing, approving and making
    the drug available to patients. This process can be challenging for several reasons, as there are various roadblocks
    at different stages that organizations must navigate.
</p>

<p>
    Through our thorough data collection during the ROADMAP research process, we have compiled a comprehensive list of
    potential challenges that a rare disease nonprofit may encounter. By being aware of all possible roadblocks,
    organizations can better prepare for these challenges and improve the chances of success in future drug repurposing
    projects. By identifying the roadblocks early on, it could save time and resources that would have been wasted in
    the long run.
</p>

<div class="row py-3 pt-5 pb-5">

    <div class="col-3">
        <h4>
            Regulatory limitations
        </h4>
    </div>

    <div class="col-9">
        <p>
            Drug repurposing in the US faces several regulatory roadblocks:
        </p>

        <p>
            <b>FDA approval process requirements</b><br> 
            The FDA approval process for repurposed drugs can be challenging and
            time-consuming. The FDA may require additional clinical trials and data to establish the safety and efficacy
            of repurposed drugs for new indications. Without the support of a pharmaceutical company, the avenue for FDA
            approval is limited to a “citizen’s petition”, which does not have a good track record of being successful
            often. There is little/no FDA guidance for how rare disease nonprofits can best spearhead drug repurposing
            initiatives and many have had difficulty navigating the regulatory requirements for repurposed drugs.
        </p>
        <p>
            <b>Orphan drug designation</b><br>
            Repurposed drugs for rare diseases may qualify for orphan drug designation, which
            can provide financial incentives and expedited review. However, the criteria for orphan drug designation can
            be restrictive, and not all repurposed drugs may qualify.

        </p>
        <p>
            <b>Conflict of interest</b><br>
            In some cases, the FDA may consider the involvement of a rare disease nonprofit in
            taking an active role in drug repurposing research design a conflict of interest, which limits how much
            impact and value it can bring to the process.

        </p>
        <p>
            <b>Limited financial incentives</b><br>
            The financial incentives for drug repurposing in the US may be limited, as the
            market for repurposed drugs is smaller than for new drugs, even with orphan drug designation.
        </p>
        <p>
            <b>Limited data availability</b><br>
            Limited data availability is another roadblock, as the safety and efficacy of a
            drug may not be well understood for all indications, which makes it difficult to determine the potential
            benefits and risks of repurposing the drug. Additionally, there may be limited access to data from original
            indication FDA approval, which again, limits the strength of a repurposing project.
        </p>
    </div>
</div>
<div class="row py-3 pb-5">
    <div class="col-3">
        <h4>
            Internal Organizational Limitations
        </h4>
    </div>
    <div class="col-9">
        <p>
            Rare disease nonprofits are often small, volunteer-led organizations that have a lot of limitations in terms
            of staff, finances, time, resources, and even scientific or medical expertise. In our ROADMAP data, among
            the main ones that organizations have encountered while pursuing drug repurposing are:
        </p>

        <ul>
            <li>
                Lack of staff to support project: 6/58 (10.34%)
            </li>
            <li>
                Lack of sufficient financial resources: 21/58 (36.21%)
            </li>
            <li>
                Lack of time / not a priority at present: 6/58 (10.34%)
            </li>
            <li>
                Lack of understanding of the steps towards successful drug repurposing: 7/58 (12.07%)
            </li>
            <li>
                Lack of resources to support systematic data collection (i.e. patient registry, natural history study,
                etc) and/or analysis: 9/58 (15.52%)
            </li>
        </ul>

        <p>
            It is evident that these can become significant internal roadblocks for organizations to pursue drug
            repurposing, as lack of staff and finances limits how a rare disease nonprofit can help support research in
            general and drug repurposing in particular.
        </p>

        <p>
            But, there is reason to believe that it is not despite, but because of their constraints that rare disease
            nonprofits are able to rise to the challenge of getting treatments to patients faster. Though it seems
            counterintuitive, constraints can foster innovation as constraints force an organization to focus efforts on
            a more narrowly defined way forward and often in a new and innovative way, compared to a situation with
            limited or no constraints in which “path-of-least-resistance” is the preferred approach. In contrast,
            constraints (financial constraints in particular) provide focus and motivation to search for and connect
            information from different sources to generate novel ideas and approaches (Acar, Tarakci, & van Knippenberg,
            2019, 2019). In the context of rare disease nonprofits, limited resources provide an innovation challenge:
            when faced with rare disease patients in dire need of treatments and no hope of for-profit companies to take
            up the project in a timely manner, rare disease nonprofits are forced into an alternative model which is
            based on the patient-centered research approach. This alternative model, ultimately, ends up being cheaper
            and faster than the traditional (Pushpakom et al., 2019).
        </p>

        <p>
            We can also see in our data that some organizations have been able to overcome some of these limitations and
            still been successful:
        </p>

        <p>
            Among our 147 organizations, 52/147 (38.78%) do not have any full time staff. This includes 34/111 (30.63%)
            of the organizations that support research and 20/58 (34.48%) of those that are pursuing drug repurposing.
            Looking at the organizations who have been successful in drug repurposing, 1/6 (16.67%) of the organizations
            who have had a drug FDA approved and 6/13 (46.15%) of organizations which have reached a “subjective”
            success endpoint do not have any paid staff. While only one of the organizations who have had a drug FDA
            approved has an average funding of under $500,000, an impressive 7 (54%) of organizations which have reached
            a “subjective” success endpoint are in this funding category. This means that even if you’re a newer or
            smaller organization, you can bring treatments to patients through repurposing that have an impact on their
            quality of life in various ways.
        </p>

        <p>
            As for the “lack of understanding of the steps towards successful drug repurposing” roadblock, the CDCN
            hopes that the present ROADMAPand associated data helps at least partially fulfill this need and help rare
            disease nonprofits move forward in their drug repurposing journeys.
        </p>
    </div>
</div>

<div class="row py-3 pb-5">
    <div class="col-3">
        <h4>
            External Organizational Limitations
        </h4>
    </div>
    <div class="col-9">
        <p>
        <p>
            External organizational limitations for a rare disease nonprofit in supporting drug repurposing can include:
        </p>
        <ul>
            <li>
                lack of patient support
            </li>
            <li>
                lack of physician support
            </li>
            <li>
                lack of researcher network or researcher support
            </li>
            <li>
                lack of pharmaceutical company support
            </li>
        </ul>
        <p>
            For example, patients may be unwilling to enroll in clinical trials, or physicians may not be interested in
            serving as Principal Investigators (PIs) for a rare disease-focused clinical trial. Pharmaceutical companies
            may not be willing to invest in research and development for rare diseases, due to the small patient
            population and lack of financial incentives. A lack of researcher network can make it difficult for a rare
            disease nonprofit to locate researchers who are working on the specific rare disease of focus, or, even with
            a researcher network, it may be challenging to attract researchers to apply for a grant or pursue specific
            research questions.
        </p>
        <p>
            Other external limitations may include unexpected events, like COVID-related challenges, such as disruptions
            to clinical trial recruitment and the ability to conduct in-person study visits. These limitations can make
            it difficult for a rare disease nonprofit to support drug repurposing efforts and bring new treatments to
            patients. However, by building strong partnerships and collaborations, and by leveraging patient and
            community engagement, rare disease nonprofits can work to overcome these barriers and advance progress in
            the rare disease space.
        </p>

        </p>
    </div>
</div>
<div class="row py-3 pb-5">
    <div class="col-3">
        <h4>
            International roadblocks
        </h4>
    </div>
    <div class="col-9">
        <p>
            A rare disease nonprofit supporting drug repurposing can hit a number of challenges related to conducting
            international clinical trials and working with an international patient population:

        </p>
        <p>
            Differences in regulation: One major limitation is the variation in regulations, drug access, research
            standards and regulatory requirements, and other factors across different countries, which can make it
            difficult to conduct clinical trials in multiple sites and ensure that all patients have access to the same
            treatment options during the trial and after its completion.
        </p>

        <p>
            International patient population: Working with an international patient population can also present
            challenges in terms of coordinating care and communicating effectively with patients and families with
            different language needs, different religions and cultural backgrounds.

        </p>
        <p>
            Many rare disease nonprofits are still able to make significant contributions to drug repurposing efforts
            through collaborations with international partners and by advocating for improved access to treatments for
            patients globally.
        </p>
    </div>
</div>
<div class="row py-3 pb-5">
    <div class="col-3">
        <h4>
            Clinical Trial limitations
        </h4>
    </div>
    <div class="col-9">
        <p>
            Supporting drug repurposing can include a number of challenges related to the clinical trial process itself,
            such as:
        </p>

        <p>
            <b>The cost and complexity of clinical trials</b><br>
            Clinical trials which can be expensive and time-consuming.
        </p>
        <p>
            <b>The design of clinical trials</b><br>
            The design of the trial poses particular challenges with rare diseases, as
            the selection of appropriate endpoint measures can present challenges due to limited data available or a
            small patient population.
        </p>
        <p>
            <b>Difficulties in recruiting and retaining patients for the clinical trial</b><br>
            Due to the rarity of specific
            diseases, it may be difficult to find enough eligible patients to participate in the trial; due to the rare
            disease itself, it may be difficult for patients to understand the trial, comply with its requirements, or
            travel to a trial site; There might also be limited awareness about the trial, or lack of understanding of
            the risks and benefits involved. Patients may be hesitant to participate in a trial if they have a distrust
            of the medical system in general or they fear losing access to the treatment they are currently receiving or
            go on a treatment during the trial which they might not have access to afterwards.
        </p>
        <p>
            <b>Regulatory requirements</b><br>
            Navigating the complex requirements for conducting clinical research can be a huge
            roadblock for organizations who do not have a core team member who has a research background and/or
            experience with clinical trials.
        </p>
        <p>
            Luckily, these roadblocks can be overcome through partnerships with academic and industry partners, and by
            leveraging the patient community to advocate for increased funding for rare disease research, as well as
            increased patent awareness and education of the value and benefits for clinical trial participation.
        </p>
    </div>
</div>
<div class="row py-3 pb-5">
    <div class="col-3">
        <h4>
            Rare disease limitations
        </h4>
    </div>
    <div class="col-9">
        <p>
            Supporting drug repurposing can include a number of challenges related to the nature of rare diseases
            themselves, such as:
        </p>
        <p>
            <b>Lack of a sufficient patient population to study</b><br>
            rare diseases are by definition rare, which may mean there
            are very few patients who are officially diagnosed, or the existing patients are spread out all over the
            world, which can make it difficult to conduct robust clinical trials and gather enough data to support the
            repurposing of drugs.
        </p>
        <p>
            <b>Rare diseases have compounding problems</b><br>
            complexities within subtypes, symptoms across multiple organ
            systems, severity of the symptoms, speed of disease progression, or co-occurring conditions which can make
            it difficult to understand the underlying disease pathology and identify effective treatment options in
            time. Furthermore, many unknowns about the disease remain, which can make it challenging to develop new
            therapies and repurpose existing drugs.
        </p>
        <p>
            <b>Lack of medical expertise among the rare disease nonprofit leaders</b><br>
            Without a member of staff with
            scientific or medical expertise, organizations have to rely on external advisors to provide guidance and
            support for their mission, which may be limited due to the time constraints and varying level of commitment
            or interest of these advisors to engage with the organization and their mission.
        </p>
    </div>
</div>
<div class="row py-3 pb-5">
    <div class="col-3">
        <h4>
            Drug limitations
        </h4>
    </div>
    <div class="col-9">
        <p>
        <p>
            Supporting drug repurposing for rare diseases can present significant challenges in regards to the drugs
            themselves. These challenges can include:
        </p>
        <p>
            <b>The cost of drugs</b><br>
            whether off-label or FDA-approved, drugs can present affordability challenges for
            patients, particularly if they are not covered by insurance. Additionally, if pharmaceutical companies are
            unable to provide drugs for clinical trials, the costs of running these trials can be significantly higher,
            adding to the overall cost burden for patients and organizations.
        </p>
        <p>
            <b>Drugs may not work for everyone</b><br>
            even if drugs are successfully repurposed, they may not work for all
            patients, even if they have the same rare disease or even the same rare disease subtype. This can be due to
            a variety of factors, such as genetic variations, differences in the underlying causes of the disease, or
            other individual patient characteristics.
        </p>
        <p>
            <b>Side-effects</b><br>
            as with any treatment, repurposed drugs may have side effects, which can vary in severity.
            Some side effects may be minor and manageable, while others may be more severe and have a significant impact
            on the patient's quality of life. This can be particularly challenging for rare disease patients, as there
            may be limited treatment options available and the side effects of the repurposed drug may outweigh the
            benefits for some patients.
        </p>
        <p>
            <b>Limited supply</b><br>
            the supply of repurposed drugs can be a challenge as they were originally approved and
            manufactured for a specific indication. If the demand for the drug increases for a new indication, it can be
            difficult to obtain enough supply if the manufacturing does not increase to meet this new demand. Moreover,
            if the drug is repurposed for more common diseases, like we saw with COVID-19, it could affect the supply
            for rare disease patients.
        </p>
        <p>
            <b>Blood-brain barrier penetration</b><br>
            The blood-brain barrier (BBB) is a specialized system of blood vessels and
            cells that surrounds the brain and spinal cord that helps protect the brain from harmful substances. This
            barrier is selectively permeable, which means that some substances can pass through it, while others can't.
            Some drugs may not be able to cross the BBB, which can limit their effectiveness for certain conditions. For
            example, in some neurological conditions, where the brain is affected, drugs that can't cross the BBB may be
            ineffective in treating the condition. This means that even if a drug has been repurposed and has been shown
            to be effective in treating a certain condition, it may not be able to reach the target area in the brain,
            making it less effective. Furthermore, many drug development programs fail to identify the drug's ability to
            cross BBB, which means this data is not available to “shortcut” drug repurposing.

        </p>
        <p>
            All these limitations make it difficult for organizations to both identify and pursue promising repurposing
            options for patients with rare diseases.

        </p>
        </p>
    </div>
</div>
<div class="row py-3 pb-5">
    <div class="col-3">
        <h4>
            Research limitations
        </h4>
    </div>
    <div class="col-9">
        <p>
        <p>
            Outside of limitations in regards to things like funding, which are discussed elsewhere, there are some
            roadblocks specific to the research process that are important to keep in mind:
        </p>
        <p>
            <b>Lack of real-world evidence (RWE)</b> <br>
            RWE refers to data collected in routine clinical practice, outside of the
            controlled environment of a clinical trial. This type of evidence can provide valuable information on the
            safety and effectiveness of a drug in a real-world setting, in a broader patient population and with longer
            follow-up. However, in the case of repurposed drugs, there may be limited RWE available, which can make it
            difficult to determine its effectiveness in the patient population of interest. This can be particularly
            challenging for rare diseases, as the patient population is small and the disease may have a different
            manifestation in different patients.
        </p>
        <p>
            <b>Limited patient samples</b><br>
            Rare diseases, by definition, affect a small number of individuals, which can make
            it difficult to obtain a large enough sample size to conduct meaningful research. Additionally, access to
            patients can also be limited, as they may be spread out geographically, or may not be willing or able to
            participate in research studies. This can make it difficult to conduct research that is representative of
            the patient population, and can limit the understanding of the drug's potential effectiveness. Furthermore,
            different studies may divide up patients differently, which can make it difficult to compare results (i.e.
            one study may include patients with a certain subtype, while another study may include patients with a
            different subtype or a combination of subtypes). Alternatively, if eligibility criteria are strict for
            certain research studies or clinical trials, the more separate research there is ongoing, the less of a pool
            of patients is available to participate, meaning that potentially none of the research can find a really
            meaningful result for the entire population.
        </p>
        <p>
            <b>Limitations of preclinical models</b><br>
            Preclinical models, or studies conducted in cells, tissues, or animals,
            before testing in humans, can provide valuable information on the potential effectiveness and safety of a
            drug. However, preclinical models may not accurately reflect the human version of the rare disease, which
            can limit the understanding of the drug's potential effectiveness.
        </p>
        </p>
    </div>
</div>
<div class="row py-3 pb-5">
    <div class="col-3">
        <h4>
            Collaborations with academics
        </h4>
    </div>
    <div class="col-9">
        <p>
            Collaborating with academics can be important for a rare disease nonprofit organization to support drug
            repurposing, as they often have the expertise and resources to conduct research on new treatment options.
            However, there can be a number of limitations that can make it difficult for the organization to effectively
            collaborate with academics:
        </p>
        <p>
            <b>Data sharing</b><br>
            academic researchers may be hesitant to share their data, as they may want to be the first to
            publish their findings. This can slow down the drug repurposing process and make it difficult for the
            organization to access the information they need. Additionally, there may be concerns about confidentiality,
            which can make it difficult for academics and organizations to share information about patients and research
            findings. Navigating these concerns can be time-consuming and may slow down the drug repurposing process.
            Furthermore, there may be challenges in coordinating and aligning the goals of the academics and the
            organization, which can also slow down the process. All of these limitations can make it challenging for
            organizations to provide effective treatment options for patients with rare diseases by collaborating with
            academics.
        </p>
        <p>
            <b>Intellectual property concerns</b><br>
            IP refers to the legal rights associated with an invention or discovery,
            such as patents, trademarks, and copyrights. These rights can be used to protect the creators of the
            invention and to prevent others from using the invention without permission. In the context of drug
            repurposing research, IP concerns can arise when academics or organizations have developed or discovered new
            treatment options, and they want to protect their rights to the invention. This can make it difficult for
            other academics or organizations to access the information or resources they need to conduct research, as
            they may need to obtain permission or license the IP. Additionally, IP concerns may also arise in licensing
            agreements between the academic institution and the company or the organization that is interested in
            developing the repurposed drug. These agreements can be very complex and may require negotiation over key
            terms such as royalty rates, exclusivity, and milestones. This can take a significant amount of time and
            money to resolve, and can delay the development of the drug.
        </p>
        <p>
            <b>Differing priorities</b><br>
            academics and organizations may have different goals and objectives, which can make it
            difficult to align their efforts and work together effectively. Academics may prioritize publishing their
            research findings in scientific journals, which can be important for their career advancement and for the
            advancement of their field of study. However, this can make it difficult for organizations to access the
            information they need, as academics may be hesitant to share their data or resources until they have
            published their findings. Academics and organizations may have different priorities when it comes to the
            types of research they want to conduct. For example, academics may prioritize basic research, which can be
            important for understanding the underlying causes of the disease, while organizations may prioritize applied
            research, which can be important for developing new treatments. This is why it’s very important to create a
            patient-centered research agenda, and form collaborations with academics who are motivated by impact to
            patients.
        </p>
        <p>
            <b>Differences in timelines</b><br>
            academic research may take longer time than the organization expected for various
            reasons due to the peculiarities of the academic calendar and other obligations that academics have
            (teaching obligations, tenure review, semester breaks, etc.) and academics may not have the same sense of
            urgency as rare disease organizations when it comes to finalizing research and getting new treatments to
            patients.
        </p>
    </div>
</div>

<div class="py-5 my-5">
    <br>
</div>