---
title: "Survey Insights"
layout: survey-insights
permalink: "/survey-insights-drug-repurposing.html"
---


<style>
  .nav-3 a,
  .nav-3 .link-text {
    font-weight: 500;
    background-color: var(--roadmap_light);
    color: black;
    background-image: var(--project_paper);
  }

  .siroLogo {
    object-fit: contain;
    max-height: 150px;

  }

  .card-text p {
    font-size:12px;
  }
</style>

<div class="container siteContent">
  <h1>Drug repurposing</h1>

  <section>
    <div class="container">
      <h2 class="">MAKE A BARCHART and PIE CHART of how many orgs listed multiple drugs</h2>


      <div class="row py-5">
        <div class="col-12 col-xl-4">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
            ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
            nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
            anim id est laborum.
          </p>
          {% include /INSIGHTS/excludeNote.html %}
        </div>
        <div class="col-12 col-xl-6">
          <canvas style="height:300px;" id="multipleDrugsPie"></canvas>
          <p class="text-end"><small>n (organizations): 40</small></p>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="container">
      <h2 class="">Familiarity with drug repurposing prior to this survey</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
        pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
        laborum.
      </p>
      <canvas style="width:60vw!important;" id="familiarityPrior"></canvas>
      <p class="text-end"><small>n (organizations): 138</small></p>
    </div>
  </section>

  <section>
    <div class="container">
      <h2 class="">Interest in pursuing drug repurposing prior to this survey</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
        pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
        laborum.
      </p>
      <canvas style="width:60vw!important;" id="interestPrior"></canvas>
      <p class="text-end"><small>n (organizations): 138</small></p>
    </div>
  </section>

  <section>
    <div class="container">
      <h2 class="">Has your organization been involved in any drug repurposing efforts for your rare disease of
        interest?</h2>
      <div class="row py-5">
        <div class="col-12 col-xl-4">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
            ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
            nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
            anim id est laborum.
          </p>
          {% include /INSIGHTS/excludeNote.html %}
        </div>
        <div class="col-12 col-xl-6">
          <canvas style="height:300px;" id="drugRepurposingPie"></canvas>
          <p class="text-end"><small>n (organizations): 138</small></p>
        </div>
      </div>
      <div id="drugRepurposingCloud" style="height: 400px;"></div>
      <p class="text-end"><small>
        n (organizations): 40
        n (drugs): 94
      </small></p>
    </div>
  </section>

  <section>
    <div class="container">
      <h2 class="">What was your organization’s involvement in the repurposing process for [Field-1]?</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
        pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
        laborum.
      </p>
      <canvas style="width:60vw!important;" id="involvementRepurposing"></canvas>
      <p class="text-end"><small>
        n (organizations): 39<br>
        n (drugs): 92
    </small></p>
    </div>
  </section>
  
  <section>
    <div class="container">
      <h2 class="">What stage is the repurposing process currently at?</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
        pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
        laborum.
      </p>
      <canvas style="width:60vw!important;" id="stageRepurposing"></canvas>
      <p class="text-end"><small>
        n (organizations): 40<br>
        n (drugs): 94
    </small></p>
    </div>
  </section>

  <section>
    <div class="container">
      <h2 class="">Have any drug repurposing initiatives been done for your rare disease of interest without your
        organization’s involvement?</h2>

      <div class="row py-5">
        <div class="col-12 col-xl-4">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
            ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
            nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
            anim id est laborum.
          </p>
          {% include /INSIGHTS/excludeNote.html %}
        </div>
        <div class="col-12 col-xl-6">
          <canvas style="height:300px;" id="drWithoutOrg"></canvas>
          <p class="text-end"><small>n (organizations): 136</small></p>
        </div>
      </div>

    </div>
  </section>

  <section>
    <div class="container">
      <h2 class="">Would you be interested in pursuing drug repurposing for your rare disease of interest in the future?
      </h2>
      <div class="row py-5">
        <div class="col-12 col-xl-4">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
            ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
            nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
            anim id est laborum.
          </p>
          {% include /INSIGHTS/excludeNote.html %}
        </div>
        <div class="col-12 col-xl-6">
          <canvas style="height:300px;" id="drFutureInterest"></canvas>
          <p class="text-end"><small>n (organizations): 77</small></p>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="container">
      <h2 class="">What are some reasons for why your organization has not pursued drug repurposing?</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
        pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
        laborum.
      </p>
      <canvas style="width:60vw!important;" id="reasonsNoDr"></canvas>
      <p class="text-end"><small>n (organizations): 77</small></p>
    </div>
  </section>

  <section>
    <div class="container">
      <h2 class="">Through which process was this drug identified as promising for drug repurposing?</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
        pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
        laborum.
      </p>
      <canvas style="width:60vw!important;" id="identifiedAsPromising"></canvas>
      <p class="text-end"><small>
        n (organizations): 38<br>
        n (drugs): 91

      </small></p>
    </div>
  </section>

  <section>
    <div class="container">
      <h2 class="">What roadblocks have you encountered in the drug repurposing process?</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
        pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
        laborum.
      </p>
      <canvas style="width:60vw!important;" id="roadblocksDuringDR"></canvas>
      <p class="text-end"><small>
        n (organizations): 38<br>
        n (drugs): 90
      </small></p>
    </div>
  </section>

  <section>
    <div class="container">
      <h2 class="">What success endpoint(s) were you aiming for in the drug repurposing process?</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
        pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
        laborum.
      </p>
      <canvas style="width:60vw!important;" id="successEndpoints"></canvas>
      <p class="text-end"><small>
        n (organizations): 40<br>
        n (endpoints): 235
      </small></p>
    </div>
  </section>

  <section>
    <div class="container">
      <h2 class="">Has this/these endpoints been met?</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
        pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
        laborum.
      </p>
      {% include /INSIGHTS/excludeNote.html %}
      <canvas style="width:60vw!important;" id="successEndpointsMet"></canvas>
      <p class="text-end"><small>
        n (organizations): 40<br>
        n (endpoints): 219
      </small></p>
    </div>
  </section>

  <section>
    <div class="container">
      <h2 class="">​​What additional support could improve the speed or efficiency of your rare disease drug repurposing
        work?
      </h2>
      <p class = "pb-4">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
        pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
        laborum.
      </p>
      {% include /INSIGHTS/excludeNote.html %}
      <canvas style="width:60vw!important;" id="additionalSupport"></canvas>
      <p class="text-end"><small>n (organizations): 124</small></p>
    </div>
  </section>





</div>

<script>

  // HOW MANY LISTED MULTIPLE DRUGS (DONUT)
  var ctxMultipleDrugsPie = document.getElementById("multipleDrugsPie");
  var multipleDrugsPie = new Chart(ctxMultipleDrugsPie, {
    type: 'doughnut',
    data: {
      labels: ['1 drug', '2 drugs', '3 drugs', '4 drugs', '5 drugs', '6 drugs', '7 drugs'],
      datasets: [{
        label: '# of responses',
        data: [21, 8, 3, 3, 2, 2, 1],
        backgroundColor: [color1, color2, color3, color4, color5, color6, color7]
      }]
    },
    options: {
      legend: {
        position: 'right',
        align: 'start'
      },
      responsive: false,
    }
  });

  // FAMILIARITY PRIOR TO TAKING SURVEY 
  var ctxFamiliarityPrior = document.getElementById("familiarityPrior");
  var familiarityPriorBar = new Chart(ctxFamiliarityPrior, {
    type: 'horizontalBar',
    data: {
      labels: ['Extremely familiar', 'Very familiar', 'Moderately familiar', 'Slightly familiar', 'Not familiar at all'],
      datasets: [{
        label: '# of responses',
        data: [17, 31, 48, 29, 13],
        backgroundColor: [color3, color3, color3, color3, color3]
      }]
    },
    options: {
      scales: {
        xAxes: [{
          ticks: {
            beginAtZero: true
          }
        }]
      },
      legend: {
        display: false
      },
      responsive: true,
    }
  });

  // INTEREST PRIOR TO TAKING SURVEY 
  var ctxInterestPrior = document.getElementById("interestPrior");
  var interestPriorBar = new Chart(ctxInterestPrior, {
    type: 'horizontalBar',
    data: {
      labels: ['Extremely interested', 'Very interested', 'Moderately interested', 'Slightly interested', 'Not interested at all'],
      datasets: [{
        label: '# of responses',
        data: [58, 40, 21, 13, 6],
        backgroundColor: [color3, color3, color3, color3, color3]
      }]
    },
    options: {
      scales: {
        xAxes: [{
          ticks: {
            beginAtZero: true
          }
        }]
      },
      legend: {
        display: false
      },
      responsive: true,
    }
  });


  // INVOLVED IN DR (PIE)
  var ctxDrugRepurposingPie = document.getElementById("drugRepurposingPie");
  var drugRepurposingPie = new Chart(ctxDrugRepurposingPie, {
    type: 'doughnut',
    data: {
      labels: ['Yes', 'No'],
      datasets: [{
        label: '# of responses',
        data: [58, 80],
        backgroundColor: [color3, color6]
      }]
    },
    options: {
      legend: {
        position: 'right',
        align: 'start'
      },
      responsive: false,
    }
  });

  // INVOLVED IN DR (WORD CLOUD) 
  am4core.useTheme(am4themes_animated);
  // Themes end

  var drugRepurposingCloud = am4core.create("drugRepurposingCloud", am4plugins_wordCloud.WordCloud);
  var series = drugRepurposingCloud.series.push(new am4plugins_wordCloud.WordCloudSeries());

  series.accuracy = 4;
  series.step = 15;
  series.rotationThreshold = 0.7;
  series.maxCount = 200;
  series.minWordLength = 2;
  series.labels.template.tooltipText = "{word}: {value}";
  series.fontFamily = "IBM Plex Sans";
  series.maxFontSize = am4core.percent(30);

  series.data = [
 {
   "tag": "Abemaciclib",
   "count": 1
 },
 {
   "tag": "Acetazolamide",
   "count": 1
 },
 {
   "tag": "Acetylleucine",
   "count": 1
 },
 {
   "tag": "Afatinib",
   "count": 2
 },
 {
   "tag": "Alpelisib",
   "count": 2
 },
 {
   "tag": "Baclofen",
   "count": 1
 },
 {
   "tag": "Baricitinib",
   "count": 1
 },
 {
   "tag": "Benralizumab",
   "count": 1
 },
 {
   "tag": "Bevacizumab",
   "count": 2
 },
 {
   "tag": "Bisphosphonates NOS",
   "count": 2
 },
 {
   "tag": "Bosutinib",
   "count": 1
 },
 {
   "tag": "Brigatinib",
   "count": 1
 },
 {
   "tag": "Budesonide",
   "count": 1
 },
 {
   "tag": "Cabozantinib",
   "count": 1
 },
 {
   "tag": "Cetuximab",
   "count": 1
 },
 {
   "tag": "Chemotheraphy NOS",
   "count": 1
 },
 {
   "tag": "Cilofexor",
   "count": 1
 },
 {
   "tag": "Clonidine",
   "count": 1
 },
 {
   "tag": "Cyclodextrin NOS",
   "count": 1
 },
 {
   "tag": "Dasatinib",
   "count": 1
 },
 {
   "tag": "Deferiprone",
   "count": 2
 },
 {
   "tag": "Desipramine",
   "count": 1
 },
 {
   "tag": "Divalproex",
   "count": 1
 },
 {
   "tag": "Domagrozumab",
   "count": 1
 },
 {
   "tag": "Dupilumab",
   "count": 2
 },
 {
   "tag": "Eflornithine",
   "count": 1
 },
 {
   "tag": "Erlotinib",
   "count": 1
 },
 {
   "tag": "Estradiol Valerate",
   "count": 1
 },
 {
   "tag": "Etanercept",
   "count": 1
 },
 {
   "tag": "Everolimus",
   "count": 3
 },
 {
   "tag": "Fenofibrate",
   "count": 1
 },
 {
   "tag": "Fingolimod",
   "count": 1
 },
 {
   "tag": "Gefitinib",
   "count": 1
 },
 {
   "tag": "Glycerol Phenylbutyrate",
   "count": 2
 },
 {
   "tag": "Idelalisib",
   "count": 1
 },
 {
   "tag": "Imatinib",
   "count": 1
 },
 {
   "tag": "Inverse Agonist NOS",
   "count": 1
 },
 {
   "tag": "Lamotrigine",
   "count": 1
 },
 {
   "tag": "Lirentelimab",
   "count": 1
 },
 {
   "tag": "Lithium",
   "count": 1
 },
 {
   "tag": "Lovastatin",
   "count": 1
 },
 {
   "tag": "Mavorixafor",
   "count": 1
 },
 {
   "tag": "Metformin",
   "count": 1
 },
 {
   "tag": "Miglustat",
   "count": 2
 },
 {
   "tag": "Nitisinone",
   "count": 1
 },
 {
   "tag": "Nivolumab",
   "count": 1
 },
 {
   "tag": "Norursodeoxycholic Acid",
   "count": 1
 },
 {
   "tag": "Omigapil",
   "count": 1
 },
 {
   "tag": "Oxytocin",
   "count": 1
 },
 {
   "tag": "Palbociclib",
   "count": 1
 },
 {
   "tag": "Pazopanib",
   "count": 1
 },
 {
   "tag": "Pemetrexed",
   "count": 1
 },
 {
   "tag": "Pomalidomide",
   "count": 1
 },
 {
   "tag": "Prednisone",
   "count": 1
 },
 {
   "tag": "Rituximab",
   "count": 1
 },
 {
   "tag": "Ruxolitinib",
   "count": 1
 },
 {
   "tag": "Sargramostim",
   "count": 1
 },
 {
   "tag": "Selumetinib",
   "count": 1
 },
 {
   "tag": "Semaglutide",
   "count": 1
 },
 {
   "tag": "Sirolimus",
   "count": 8
 },
 {
   "tag": "Sodium Oxybate",
   "count": 1
 },
 {
   "tag": "Sodium Phenylbutyrate",
   "count": 1
 },
 {
   "tag": "Statins NOS",
   "count": 1
 },
 {
   "tag": "Sulfasalazine",
   "count": 1
 },
 {
   "tag": "Sunitinib",
   "count": 1
 },
 {
   "tag": "Tacrolimus",
   "count": 1
 },
 {
   "tag": "Taselisib",
   "count": 1
 },
 {
   "tag": "Tauroursodeoxycholic Acid",
   "count": 1
 },
 {
   "tag": "Tazarotene",
   "count": 1
 },
 {
   "tag": "Tezepelumab",
   "count": 1
 },
 {
   "tag": "Trametinib",
   "count": 2
 },
 {
   "tag": "Ursodeoxycholic Acid",
   "count": 1
 },
 {
   "tag": "Vancomycin",
   "count": 1
 },
 {
   "tag": "Verapamil",
   "count": 1
 },
 {
   "tag": "Volixibat",
   "count": 1
 }
];
  series.dataFields.word = "tag";
  series.dataFields.value = "count";


  // DR W/O ORG INVOLVEMENT 
  var ctxDrWithoutOrg = document.getElementById("drWithoutOrg");
  var drWithoutOrg = new Chart(ctxDrWithoutOrg, {
    type: 'doughnut',
    data: {
      labels: ['Yes', 'No'],
      datasets: [{
        label: '# of responses',
        data: [58, 78],
        backgroundColor: [color3, color6]
      }]
    },
    options: {
      legend: {
        position: 'right',
        align: 'start'
      },
      responsive: false,
    }
  });

  // INTERESTED IN DR IN FUTURE
  var ctxDrWithoutOrg = document.getElementById("drFutureInterest");
  var drWithoutOrg = new Chart(ctxDrWithoutOrg, {
    type: 'doughnut',
    data: {
      labels: ['Yes', 'Maybe / Not sure', 'No'],
      datasets: [{
        label: '# of responses',
        data: [58, 17, 2],
        backgroundColor: [color3, color7, color6]
      }]
    },
    options: {
      legend: {
        position: 'right',
        align: 'start'
      },
      responsive: false,
    }
  });

  // REASONS FOR NOT PURSUING DR 
  var ctxReasonsNoDr = document.getElementById("reasonsNoDr");
  var reasonsNoDrBar = new Chart(ctxReasonsNoDr, {
    type: 'horizontalBar',
    data: {
      labels: ['Lack of sufficient financial resources', 'Lack of understanding of the steps towards successful drug repurposing', 'Lack of staff to support project', 'Lack of pharmaceutical company support', 'Lack of drug target', 'Lack of resources to support systematic data collection', 'Lack of understanding of disease etiology', 'Lack of time/not a priority at present', 'Lack of research support', 'Lack of sufficient patient population to study', 'Lack of researcher network', 'Never heard of drug repurposing before', 'Lack of patient support', 'Regulatory roadblocks', 'Lack of physician support', 'None', 'No need - FDA approved drugs exist for our rare disease of interest', 'Other: other organizations already pursuing drug repurposing for our rare disease', 'Other: we do not support any research', 'Other: existing drugs do not match drug target'],
      datasets: [{
        label: '# of responses',
        data: [48, 35, 33, 31, 28, 28, 22, 17, 11, 9, 5, 5, 4, 4, 3, 3, 2, 3, 2, 1],
        backgroundColor: [color3, color3, color3, color3, color3, color3, color3, color3, color3, color3, color3, color3, color3, color3, color3, color3, color3, color3, color3, color3]
      }]
    },
    options: {
      scales: {
        xAxes: [{
          ticks: {
            beginAtZero: true
          }
        }]
      },
      legend: {
        display: false
      },
      responsive: true,
    }
  });


  // HOW DRUG WAS IDENTIFIED AS PROMISING
  var ctxIdentifiedAsPromising = document.getElementById("identifiedAsPromising");
  var identifiedAsPromisingBar = new Chart(ctxIdentifiedAsPromising, {
    type: 'horizontalBar',
    data: {
      labels: ["Preclinical/Translational research", "Looking at similar diseases and what drugs are utilized or are promising for that patient population", "Analyzing patient's medical data to identify drugs that look promising based on off-label use", "High throughput drug screening being conducted", "Literature analysis / Meta-analysis", "Utilizing AI / ML to identify potential repurposed treatments", "Other: given as part of gene therapy"],
      datasets: [{
        label: '# of responses',
        data: [65, 28, 24, 21, 16, 2, 1],
        backgroundColor: [color3, color3, color3, color3, color3, color3, color3]
      }]
    },
    options: {
      scales: {
        xAxes: [{
          ticks: {
            beginAtZero: true
          }
        }]
      },
      legend: {
        display: false
      },
      responsive: true,
    }
  });


  // ROADBLOCKS ID'D DURING DR PROCESS
  var ctxRoadblocksDuringDR = document.getElementById("roadblocksDuringDR");
  var roadblocksDuringDRBar = new Chart(ctxRoadblocksDuringDR, {
    type: 'horizontalBar',
    data: {
      labels: ["Lack of sufficient financial resources", "Lack of pharmaceutical company support", "Lack of sufficient patient population to study", "None", "Lack of resources to support systematic data collection", "Lack of staff to support project", "Regulatory roadblocks", "Lack of patient support", "Lack of physician support", "Lack of understanding of the steps towards successful drug repurposing", "Lack of research support", "Lack of time / not a priority at present", "Lack of researcher network", "Other: drug did not prove to be effective", "Other: issues with clinical trial design", "Other: limited patient samples or limited access to patient samples", "Other: COVID-related challenges", "Other: FDA approval denied", "Other: issues with collaborations with academics"],
      datasets: [{
        label: '# of responses',
        data: [38, 24, 17, 14, 11, 9, 9, 7, 7, 7, 6, 6, 2, 5, 5, 2, 1, 1, 1],
        backgroundColor: [color3, color3, color3, color3, color3, color3, color3, color3, color3, color3, color3, color3, color3, color3, color3, color3, color3, color3, color3]
      }]
    },
    options: {
      scales: {
        xAxes: [{
          ticks: {
            beginAtZero: true
          }
        }]
      },
      legend: {
        display: false
      },
      responsive: true,
    }
  });

  // SUCCESS ENDPOINTS
  var ctxSuccessEndpoints = document.getElementById("successEndpoints");
  var successEndpointsBar = new Chart(ctxSuccessEndpoints, {
    type: 'horizontalBar',
    data: {
      labels: ['Drug to provide significant improvement in quality of life', 'Drug to provide significant reduction in symptoms', 'Drug to be freely available to patients off label with safety / efficacy data', 'Drug to receive FDA approval for your rare disease', 'Drug to increase life expectancy / decrease in mortality', 'Drug to be freely available to patients off label even without safety / efficacy data', 'Drug to provide cure of disease', 'Drug to provide prevention of relapse', 'Other: improve progression-free survival', 'Other: drug to be listed as standard of care', 'Other: success in preclinical research', 'Other: drug to slow disease progression'],
      datasets: [{
        label: '# of responses',
        data: [52, 50, 47, 40, 25, 5, 5, 2, 4, 2, 2, 1],
        backgroundColor: [color3, color3, color3, color3, color3, color3, color3, color3, color3, color3, color3, color3]
      }]
    },
    options: {
      scales: {
        xAxes: [{
          ticks: {
            beginAtZero: true
          }
        }]
      },
      legend: {
        display: false
      },
      responsive: true,
    }
  });


  // WHAT ADDITIONAL SUPPORT COULD IMPROVE
  var ctxAdditionalSupport = document.getElementById("additionalSupport");
  var additionalSupportBar = new Chart(ctxAdditionalSupport, {
    type: 'horizontalBar',
    data: {
      labels: ['Collaboration with other organizations with a similar disease pathway or treatment target', 'Conducting preclinical work to show the drug is beneficial', 'Developing clinical trials', 'Developing definition of outcomes measures that are meaningful and robust', 'Developing or utilizing infrastructure and models', 'Identifying a drug target', 'Identifying the ideal drug', 'Improved patient access to drug (off-label)', 'Information on how to pursue drug repurposing', 'Understanding of the natural history of the disease', 'Other, please specify'],
      datasets: [{
        label: 'More Collaboration',
        backgroundColor: color1,
        data: [88, 70, 89, 75, 74, 68, 66, 66, 63, 68, 3],
      }, {
        label: 'More data / Information',
        backgroundColor: color2,
        data: [70, 79, 75, 90, 70, 86, 80, 66, 80, 85, 3],
      }
        , {
        label: 'More Resources',
        backgroundColor: color3,
        data: [64, 78, 83, 68, 83, 78, 78, 79, 72, 72, 3],
      }, {
        label: 'N/A',
        backgroundColor: color7,
        data: [8, 15, 8, 14, 16, 8, 15, 17, 7, 14, null],
      }],
    },
    options: {
      scales: {
        xAxes: [{
          stacked: true,
          ticks: {
            beginAtZero: true
          }
        }],
        yAxes: [{
          stacked: true // this also..
        }]
      },
      
      legend: {
        position: 'top',
        align: 'end'
      },
      
      responsive: true,

    }
  });

  



// INVOLVEMENT REPURPOSING
var ctxinvolvementRepurposing = document.getElementById("involvementRepurposing");
  var involvementRepurposingBar = new Chart(ctxinvolvementRepurposing, {
    type: 'horizontalBar',
    data: {
      labels: ["Funded preclinical research","Facilitated national or international researcher collaboration","Supported patient recruitment into a clinical trial","Provided research ideas that led towards drug repurposing","Supported the development of a clinical trial","Support utilization of the drug off label","Gathered and shared patient samples for research","Tracked off label drug usage in a patient registry provided this data for research","Support compassionate use during ongoing experimental clinical trials","After FDA approval informed patient and physicians of the results","Other: facilitated conversations with pharmaceutical company","Other: not involved","Other: Patient Education & Support","After FDA approval worked with insurance companies to ensure coverage and promote patient access to the new drug."],
      datasets: [{
        label: '# of responses',
        data: [52,48,42,32,27,24,15,12,8,2,2,2,2,1],
        backgroundColor: [color3, color3, color3, color3, color3, color3, color3, color3, color3, color3, color3, color3, color3, color3]
      }]
    },
    options: {
      scales: {
        xAxes: [{
          ticks: {
            beginAtZero: true
          }
        }]
      },
      legend: {
        display: false
      },
      responsive: true,
    }
  });


// STAGE REPURPOSING
  var ctxStageRepurposing = document.getElementById("stageRepurposing");
  var stageRepurposingBar = new Chart(ctxStageRepurposing, {
    type: 'horizontalBar',
    data: {
      labels: ["Securing funding","Testing existing drugs in mouse or other animal models","Other: trying to secure researcher interest to pursue","Other: Patient Data Collection","Recruiting patients for clinical trials","Running Phase I clinical trials","Running Phase II clinical trials","Running Phase III clinical trials","Analyzing clinical trial data","Submitting to FDA for approval","Other: Received FDA Breakthrough designation"],
      datasets: [{
        label: '# of responses',
        data: [19,20,4,1,23,14,19,12,14,9,1],
        backgroundColor: [color3, color3, color3, color3, color3, color3, color3, color3, color3, color3, color3]
      }]
    },
    options: {
      scales: {
        xAxes: [{
          ticks: {
            beginAtZero: true
          }
        }]
      },
      legend: {
        display: false
      },
      responsive: true,
    }
  });




  // SUCCESS ENDPOINTS MET
  var ctxSuccessEndpointsMet = document.getElementById("successEndpointsMet");
  var successEndpointsMetBar = new Chart(ctxSuccessEndpointsMet, {
    type: 'horizontalBar',
    data: {
      labels: ["Drug to be freely available to patients off label with safety / efficacy data", "Drug to provide significant improvement in quality of life", "Drug to receive FDA approval", "Drug to provide significant reduction in symptoms", "Drug to increase life expectancy / decrease in mortality", "Drug to be freely available to patients off label, even without safety / efficacy data", "Drug to provide cure of disease", "Drug to provide prevention of relapse"],
      datasets: [{
        label: 'Yes',
        backgroundColor: color3,
        data: [17, 11, 4, 3, 2, 0, 1, 1],
      }, {
        label: 'No',
        backgroundColor: color6,
        data: [45, 37, 36, 31, 21, 5, 4, 1],
      }],
    },
    options: {
      scales: {
        xAxes: [{
          stacked: true,
          ticks: {
            beginAtZero: true
          }
        }],
        yAxes: [{
          stacked: true // this also..
        }]
      },
      
      legend: {
        position: 'top',
        align: 'end'
      },
      
      responsive: true,

    }
  });
</script>