
<p>
    There are anywhere from 7,000 to 10,000 rare diseases affecting approximately 30,000,000 individuals in the U.S.A. Despite significant investments of resources over the last several decades, most of these rare diseases do not have a single FDA-approved therapy, some estimate that over 90% of rare diseases lack an effective treatment (Kaufmann et al., 2018; Orphanet J Rare Dis). This fact highlights the failure of traditional research approaches to overcome the unique challenges faced by rare disease research. 
</p>

<p>
    In the rare disease space, rare disease non profit organizations are often key players in supporting the patient community through outreach, advocacy, fundraising, financial support, treatment guidance;, as well as supporting the researchers and physicians in advancing understanding and treatment options for the rare disease.
    
</p>

<p>
    Since the incentives to develop a new drug development for rare diseases are limited, drug repurposing provides a promising way to identify effective treatments for rare diseases. 

</p>

<p>
    The basic idea of drug repurposing is that once a treatment has been FDA-approved for one condition, it can be re-approved, or repurposed, to treat other conditions. The same goes for drugs developed for one condition, but proven ineffective or unsafe and thus never approved for the intended condition (this is sometimes referred to as “drug rescue”). 
</p>

<p>
    The repurposing process, in most cases, is considered to be a faster and cheaper way of getting treatments to patients compared to developing new drugs. Because the basic research on the properties of the compound has already been completed, as well as preliminary safety clinical trials, drug repurposing is able to skip many steps and costs. Depending on the new indication and how different it is from the original in both the target disease, population, dosages and modes of administration, drug repurposing could start from Phase II or Phase III clinical trials, and thus  it becomes a faster (only 1-3 years to implementation, comparing to the 13-15 years for new drug development) and cheaper ($300 million, compared to $2-3 billion for new drug development) (Pushpakom et al., 2019) option to get treatments to patients. 

</p>

<p>
    Additionally, because the repurposed drug has already been proven safe and effective, it has a higher likelihood to succeed in future clinical trials, compared to new, untested compounds - 1/10 success rate vs the 1/10,000 for new drug development (Stone, 2020). 

</p>

<p>
    However, the process has not received significantenough interest from relevant stakeholders or funding organizations. Lacking standard methods for implementation,, and most prior drug repurposing efforts are a result of serendipitous discovery rather than a systematic, intentional pursuit (Pushpakom et al., 2019). This is because many challenges exist in the drug repurposing space, namely:

</p>

<ol>
    <li>
        lack of a consensus of the roles that various stakeholders play (patient advocacy organizations, researchers, physicians, government, pharmaceutical companies, etc.)

    </li>
    <li>
        lack of a “roadmap” of how rare disease organizations should go about pursuing drug repurposing,

    </li>
    <li>
        lack of support (data, finances, resources, guidelines, etc.) during the drug repurposing process.
    </li>
</ol>