<p>
    <b>All Rare Disease Nonprofit Organizations in the US
    </b><br>
    The first required dataset we needed was a comprehensive list of all rare disease nonprofit organizations in the US. From here we hoped to gain and an understanding of how many of them support research in general and drug repurposing in particular. We quickly discovered this dataset did not exist. In order to gather this data, we put out a call to assembled a team of volunteers through various social networks. We onboarded a small team of volunteers and commenced the first step of our crowdsourced data collection, which consisted of combining several existing lists of organizations (NORD members, Global Genes members, etc.). and The team then performedming additional searches to try to find any other lists or organizations which we could include (. The final list consisted of 982 organizations. 

</p>

<p>
    Next, a larger team of 70+ volunteers spent seven months (05/18/2021-12/16/2021) extracting data from the websites of these organizations, looking for:

</p>

<ul>
    <li>
        Whether the organization satisfied our inclusion criteria: US-based, registered 501(c)(3) nonprofit organization, focused on one or more rare diseases (one that affects less than 200,000 people in the US (Orphan Drug Act, 1983)) and having an active website.

    </li>
    <li>
        Basic organizational info: year of founding, name & contact information of founders

    </li>
    <li>
        Information as to the organization’s resources: conference, research agenda, biobank, registry, natural history study, etc.

    </li>
    <li>
        Whether the rare disease has treatment guidelines, or whether it is known that it is caused by a genetic mutation

    </li>
    <li>
        Any mention of drug repurposing, and if so - which drug(s) were pursued

    </li>
    <li>
        Any mention of partnerships or collaborations with other organizations 

    </li>
</ul>

<p>
    As a result of this exercise, 711 organizations were confirmed as rare disease nonprofit organizations in the US with active websites as of 12/2021. This dataset has been made available open-source at [url here]. 

</p>

<p>
    <b>
        UpToDate Data on Off-label use

    </b><br>
    Separately, we onboarded a team of 10 extractors which had some medical expertise or medical educational background. We took a subset of 100 rare diseases from our ROADMAP survey data and conducted an extraction process of identifying whichhow many of these rare diseases had off-label drugs as a part of the official treatment guidelines on UpToDate.com, a well known and trusted electronic clinical resource tool for physicians. From 2/17/2022 to 7/14/2022, the team extracted every drug mentioned on the UpToDate page regarding a specific rare disease in the list and coded the drug entry on its “context” and “status”:

</p>

<ul>
    <li>
        “Context” refers to how the drug was mentioned on the UpToDate page. The options were “Context: Drug is recommended or listed as potentially helpful” and “Drug listed as does not work for this disease AND/OR no longer given AND/OR not recommended”. 

    </li>
    <li>
        “Status” refers to the drugs’ approval status. The options were “FDA approved for another disease”, “FDA approved for this rare disease” and “Not FDA approved for anything”. 

    </li>
</ul>

<p>
    The goal of this data extraction was to understand the current state of rare disease treatment. A commonly used statistic  that is utilized everywhere is that 95% of rare diseases do not have an FDA approved treatment. As far as we know, this statistic is never cited to any original research or dataset, so it is not clear how accurate  or up to date it is. Furthermore, it does not tell us how many of these rare diseases have off-label (FDA approved for another disease, but not FDA approved for that rare disease) treatments available for them. This is crucial information for us to understand the state of rare disease treatment in the US and the need for drug repurposing. 

</p>