<h3 class = " pt-5">
    Identifying all rare disease nonprofit organizations in the US
</h3>
<p>
    First, we set out to build a comprehensive list of all rare disease nonprofit organizations in the US. From here we hoped to gain an understanding of how many of them support research and drug repurposing in particular. Unfortunately, this list did not exist. We assembled a team of volunteers to combine several existing lists of organizations (i.e. NORD members, Global Genes members) and to perform additional searches to find more organizations. The final compiled list contained 982 organizations.
</p>
<h3>
    Characterizing rare disease nonprofit organizations
</h3>
<p>
    Next a larger team of 70++ volunteers spent seven months (05/18/2021-12/16/2021) extracting data from the websites of these organizations, looking for:
</p>
<ul>
    <li>
        Whether the organization satisfied our inclusion criteria: US-based, registered 501(c)(3) nonprofit organization, focused on one or more rare diseases (one that affects less than 200,000 people in the US (2) and having an active website
    </li>
    <li>
        Basic organizational info: year of founding, name & contact information of founders
    </li>
    <li>
        Information on the organization’s programs: conference, research agenda, biobank, registry, natural history study, etc.
    </li>
    <li>
        Whether the rare disease has treatment guidelines, or whether it is known that it is caused by a genetic mutation
    </li>
    <li>
        Any mention of drug repurposing, and if so - which drug(s) were pursued
    </li>
    <li>
        Any mention of partnerships or collaborations with other organizations
    </li>
</ul>
<p>As a result of this exercise,<b>711</b> organizations were confirmed as rare disease nonprofit organizations in the US with active websites as of 12/2021. This dataset has been made available open-source
    <a href="/resources.html" target="_blank">here</a>.</p>
<h3>
    Gathering data on off label use from an established medical resource
</h3>
<p>
    We also onboarded a team of 10 extractors who had some medical expertise or medical educational background. We took a subset of 100 rare diseases from our ROADMAP survey data and conducted an extraction process of identifying how many rare diseases had off-label drugs as a part of the official treatment guidelines on a well-known and trusted electronic clinical resource tool for physicians. From
    <b>2/17/2022</b> to
    <b>7/14/2022</b>
    , the team extracted every drug mentioned on the rare disease treatment  page regarding a specific rare disease in the list and coded the drug entry on its “context” and “status”:
</p>
<ul>
    <li>
        <b>Context</b> refers to how the drug was mentioned on the rare disease treatment  page. The options were “Context: Drug is recommended or listed as potentially helpful” and “Drug listed as does not work for this disease AND/OR no longer given AND/OR not recommended.”
    </li>
    <li>
        <b>Status</b>
        refers to the drugs’ approval status. The options were “FDA approved for another disease”, “FDA approved for this rare disease” and “Not FDA approved for anything.”
    </li>
</ul>
<p>
    The goal of this data extraction, was to understand the current state of rare disease treatment. A commonly used statistic is that 95% of rare diseases do not have an FDA-approved treatment. As far as we know, this statistic is never cited in any original research or dataset, so it is not clear how accurate it is. Furthermore, it does not tell us how many of these rare diseases have off-label (FDA approved for another disease, but not FDA approved for that rare disease) treatments available for them. This is crucial information for us to understand the state of rare disease treatment in the US and the need for drug repurposing.
</p>
