<p>
    From the 147 rare disease nonprofit organizations in our survey data, we developed a typology of organizations based on various internal characteristics and drug repurposing experience.
</p>
<figure class=" py-4">
    <img class="img-fluid shadow-3-strong" src="{{site.baseurl}}/assets/images/about/typology-full.png">
    <figcaption>
        Snapshot of the typology of organizations for interviewee selection [RDNP names hidden for data confidentiality]
    </figcaption>
</figure>
<p>
    Based on the typology, we selected
    <b>32</b> rare disease nonprofit organizations for participation in the interview phase of the project. We selected all
    <b>15</b> rare disease nonprofit organizations which selected at least one subjective success endpoint to have been met, and
    <b>17</b>
    organizations where no subjective success endpoints have been met yet. Out of these 17, we selected a sample from each stage of the repurposing process, and organizations that were comparable by other characteristics (age, funding level, staff size, etc.) We did comparisons of our selected organizations both internally (15 vs 17 organizations) as well as comparing them to the total 147, as well as those we selected for interviews vs those not selected (32 vs 115). Overall, we were satisfied with our selection, that it captured a good variability across all important characteristics.
</p>
<figure class=" py-4">
    <div class="row">
        <div class="col-6">
            <img class="img-fluid shadow-3-strong" src="{{site.baseurl}}/assets/images/about/typology-left.png">
        </div>
        <div class="col-6">
            <img class="img-fluid shadow-3-strong" src="{{site.baseurl}}/assets/images/about/typology-right.png">
        </div>
    </div>
    <figcaption>
        Analysis of organizational subgroups
    </figcaption>
</figure>
<p>
    We then invited a member of the leadership team of all
    <b>32</b> organizations to participate via email, and
    <b>25</b> agreed to participate and were interviewed. The ROADMAP project lead conducted all 25 60-minute semi-structured interviews with them over the course of two months via ZOOM. The interview protocol focused on questions regarding their experience of drug repurposing, based on a preliminary framework consisting of four stages:
    <b>1</b>. Preparation,
    <b>2</b>. Drug Identification,
    <b>3</b>. Validations,
    <b>4</b>. Clinical Use and
    <b>5</b>. Optimal Utilization. Within each step, we generally discussed how they executed each step, how long each step took, how the decision was made as to what approach to take, what challenges they faced, what advice they have for other organizations, who they collaborated with, and what resources they utilized. In cases when organizations were in the process of repurposing multiple drugs, the interviewees were asked to discuss the ones that were either the farthest along in the process or with which they had the most varied experiences so that on aggregate, the ROADMAP would contain insights from as many varied experiences as possible. Because of this, even though
    <b>25</b> organizations were interviewed, we were able to capture the experiences of repurposing
    <b>75</b>
    drugs.
</p>
