<p>
    The interview audio was transcribed and cleaned utilizing
    <a href="https://otter.ai/" target="_blank">Otter.ai</a>, with a final manual review from research assistants and project lead to guarantee the accuracy of transcript data. Then, the project team utilized a tool called
    <a href="https://dedoose.com/" target="_blank">Dedoose</a> to conduct an iterative thematic analysis of the interview transcripts.<sup><a href="#fn14" id="ref14">14</a></sup> The project lead identified and coded statements from the interview transcript that answered a research question and generated a list of themes from these codes; this resulted in 120 themes. The project lead and research assistant then synthesized the themes into five categories of findings:
    <b>1. General Description, 2. Insights, 3. Roadblocks, 4. Support Options and 5. Resources</b>
    . We then utilized a mind mapping software MIRO, as mentioned in previous sections, to identify and categorize data visually and collaboratively. This process was crucial in making sure our interview insights helped fill in any missing categories from our survey data, and provide additional advice or nuance that we were not able to capture via survey.
</p>
<figure class=" py-4">
    <img class="img-fluid shadow-3-strong" src="{{site.baseurl}}/assets/images/about/miro-analysis.png">
    <figcaption>
        Process of theme and insight synthesis in MIRO
    </figcaption>
</figure>
