<p>
    The Repurposing Of All Drugs, Mapping All Paths (ROADMAP) project aims to answer some fundamental questions about the experience of drug repurposing for rare disease nonprofit organizations and their relevant stakeholders and to design a solution to some of the challenges rare disease organizations are facing through the creation of this interactive “ROADMAP” tool. This project is supported by a grant from the Chan Zuckerberg Initiative (CZI).

</p>

<figure class = " py-4">
    <img class = "img-fluid shadow-3-strong" src = "{{site.baseurl}}/assets/images/about/methods1.png"/>
    <figcaption>Six-phase project plan for ROADMAP project execution
    </figcaption>
</figure>

<p>
    The CDCN team established a six-phase project plan for the project:

</p>

<ol>
    <li>
        Crowdsourcing Data 

    </li>
    <li>
        Survey Execution

    </li>
    <li>
        Survey Data Analysis

    </li>
    <li>
        Interview Execution

    </li>
    <li>
        Interview Data Analysis 

    </li>
    <li>
        Synthesis & Tool Development

    </li>
</ol>

<p>
    This project was submitted for review by Advarra IRB under protocol number Pro00055201 and approved on September 28, 2021. On May 14, 2022 we submitted an update to the protocol, which included our interview protocol and updated project timeline, which was approved May 25, 2022. 

</p>