<ol>
    <li>
        <p id="fn1">
            Haendel M, Vasilevsky N, Unni D, Bologa C, Harris N, Rehm H, et al. How many rare diseases are there? <i>Nat Rev Drug Discov</i>. 2020 Feb;19(2):77–8.
            <a href="#ref1" title="Jump back to footnote 1 in the text.">↩</a></p>
    </li>
    <li>
        <p id="fn2">
            Orphan Drug Act [Internet]. 96 STAT. 2049, 97–414 Jan 4, 1983. Available from: <a href = "https://www.fda.gov/media/99546/download" target = "_blank">https://www.fda.gov/media/99546/download</a>.
            <a href="#ref2" title="Jump back to footnote 2 in the text.">↩</a></p>
    </li>
    <li>
        <p id="fn3">
            Kaufmann P, Pariser AR, Austin C. From scientific discovery to treatments for rare diseases – the view from the National Center for Advancing Translational Sciences – Office of Rare Diseases Research. <i>Orphanet Journal of Rare Diseases</i>. 2018 Nov 6;13(1):196.
            <a href="#ref3" title="Jump back to footnote 3 in the text.">↩</a></p>
    </li>
    <li>
        <p id="fn4">
            Stone H. CURE ID: Capturing Clinician’s Experiences Repurposing Drugs to Inform Future Studies in the Eraof COVID-19 [Internet]. 2020 Jun 9 [cited 2021 Apr 5]; FDA. Available from: <a href = "https://www.fda.gov/about-fda/fda-pharmacy-student-experiential-program/fda-drug-topics-cure-id-capturing-clinicians-experiences-repurposing-drugs-inform-future-studies-era" target = "_blank">https://www.fda.gov/about-fda/fda-pharmacy-student-experiential-program/fda-drug-topics-cure-id-capturing-clinicians-experiences-repurposing-drugs-inform-future-studies-era</a>.
            <a href="#ref4" title="Jump back to footnote 4 in the text.">↩</a></p>   
    </li>
    <li>
        <p id="fn5">
            Ghofrani HA, Osterloh IH, Grimminger F. Sildenafil: from angina to erectile dysfunction to pulmonary hypertension and beyond. <i>Nature Reviews Drug Discovery</i>. 2006 Aug;5(8):689–702.
            <a href="#ref5" title="Jump back to footnote 5 in the text.">↩</a></p>   
    </li>
    <li>
        <p id="fn6">
            Latif T, Chauhan N, Khan R, Moran A, Usmani SZ. Thalidomide and its analogues in the treatment of Multiple Myeloma. <i>Experimental Hematology & Oncology</i>. 2012 Sep 11;1(1):27.
            <a href="#ref6" title="Jump back to footnote 6 in the text.">↩</a></p>   
    </li>
    <li>
        <p id="fn7">
            Fajgenbaum D, Langan RA, Japp AS, Partridge HL, Pierson SK, Singh A, et al. Identifying and targeting pathogenic PI3K/AKT/mTOR signaling in IL-6 blockade–refractory idiopathic multicentric Castleman disease. <i>J Clin Invest</i>. 2019;129(10):4451–63.
            <a href="#ref7" title="Jump back to footnote 7 in the text.">↩</a></p>   
    </li>
    <li>
        <p id="fn8">
            RStudio Team. RStudio: Integrated Development Environment for R [Internet]. Boston, MA: RStudio, PBC.; 2020. Available from: <a href = "http://www.rstudio.com/" target = "_blank">http://www.rstudio.com/</a>.
            <a href="#ref8" title="Jump back to footnote 8 in the text.">↩</a></p>   
    </li>
    <li>
        <p id="fn9">
            Wickham H, Averick M, Bryan J, Chang W, McGowan LD, François R, et al. Welcome to the tidyverse. <i>Journal of Open Source Software</i>. 2019;4(43):1686.
            <a href="#ref9" title="Jump back to footnote 9 in the text.">↩</a></p>   
    </li>
    <li>
        <p id="fn10">
            Wickham H. stringr: Simple, Consistent Wrappers for Common String Operations [Internet]. 2022. Available from: <a href = "https://CRAN.R-project.org/package=stringr" target = "https://CRAN.R-project.org/package=stringr">https://CRAN.R-project.org/package=stringr</a>.
            <a href="#ref10" title="Jump back to footnote 10 in the text.">↩</a></p>   
    </li>
    <li>
        <p id="fn11">
            Wickham H, François R, Henry L, Müller K. dplyr: A Grammar of Data Manipulation [Internet]. 2022. Available from: <a href = "https://CRAN.R-project.org/package=dplyr" target = "_blank">https://CRAN.R-project.org/package=dplyr</a>.
            <a href="#ref11" title="Jump back to footnote 11 in the text.">↩</a></p>   
    </li>
    <li>
        <p id="fn12">
            Bryan J. googlesheets4: Access Google Sheets using the Sheets API V4 [Internet]. 2022. Available from: <a href = "https://CRAN.R-project.org/package=googlesheets4" target = "_blank">https://CRAN.R-project.org/package=googlesheets4</a>.
            <a href="#ref12" title="Jump back to footnote 12 in the text.">↩</a></p>   
    </li>
    <li>
        <p id="fn13">
            Bastian M, Heymann S, Jacomy M. Gephi: an open source software for exploring and manipulating networks. In: <i>Third international AAAI conference on weblogs and social media</i>. 2009.
            <a href="#ref13" title="Jump back to footnote 13 in the text.">↩</a></p>   
    </li>
    <li>
        <p id="fn14">
            Braun V, Clarke V. Using thematic analysis in psychology. <i>Qualitative Research in Psychology</i>. 2006 Jan;3(2):77–101.
            <a href="#ref14" title="Jump back to footnote 14 in the text.">↩</a></p>   
    </li>
    <li>
        <p id="fn15">
            Korsunska A. Research Agenda-Setting in Medicine: Shifting from a Research-centric to a Patient-centric Approach. In: <i>Information in Contemporary Society</i>. Springer International Publishing; 2020.
            <a href="#ref15" title="Jump back to footnote 15 in the text.">↩</a></p>   
    </li>
    <li>
        <p id="fn16">
            Zuccato M, Shilling D, Fajgenbaum DC. The Collaborative Network Approach: a model for advancing patient-centric research for Castleman disease and other rare diseases. MacKenzie A, Groft S, Justice M, van Karnebeek C, editors. <i>Emerging Topics in Life Sciences</i>. 2019 Mar 29;3(1):97–105.
            <a href="#ref16" title="Jump back to footnote 16 in the text.">↩</a></p>   
    </li>
    <li>
        <p id="fn17">
            Rao A, Vaught J, Tulskie B, Olson D, Odeh H, McLean J, et al. Critical financial challenges for biobanking: Report of a National Cancer Institute Study. <i>Biopreservation and Biobanking</i>. 2019;17(2):129–38.
            <a href="#ref17" title="Jump back to footnote 17 in the text.">↩</a></p>   
    </li>
    <li>
        <p id="fn18">
            Acar OA, Tarakci M, van Knippenberg D. Why Constraints Are Good for Innovation. <i>Harvard Business Review</i> [Internet]. 2019 Nov 22 [cited 2021 Apr 30]; Available from: <a href = "https://hbr.org/2019/11/why-constraints-are-good-for-innovation" target="_blank">https://hbr.org/2019/11/why-constraints-are-good-for-innovation</a>.
            <a href="#ref18" title="Jump back to footnote 18 in the text.">↩</a></p>   
    </li>
    <li>
        <p id="fn19">
            Acar OA, Tarakci M, van Knippenberg D. Creativity and Innovation Under Constraints: A Cross-Disciplinary Integrative Review. <i>Journal of Management</i>. 2019 Jan 1;45(1):96–121.
            <a href="#ref19" title="Jump back to footnote 19 in the text.">↩</a></p>   
    </li>
    <li>
        <p id="fn20">
            Pushpakom S, Iorio F, Eyers PA, Escott KJ, Hopper S, Wells A, et al. Drug repurposing: progress, challenges and recommendations. <i>Nature Reviews Drug Discovery</i>. 2019 Jan;18(1):41–58.
            <a href="#ref20" title="Jump back to footnote 20 in the text.">↩</a></p>   
    </li>

</ol>